
.text-header-a{
    background-image: linear-gradient(90deg, hsl(186deg 100% 50% / 64%) 0%, hsl(302deg 100% 50% / 55%) 35%),url(./images/cabecita.jpg);
    width: 100%;
    height: 100px;
}


.text-header-a img{
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link {
    display: inline;
    padding: 0.5rem 5rem;
    color: #f8f9fa;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.holis {
    background: linear-gradient(90deg, hsl(316deg 100% 50% / 64%) 0%, hsl(46deg 100% 50% / 60%) 35%),url(./images/twice.webp.jpg);
    width: 100%;
    height: 660px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0%;
    padding-right: 0%;
}
.col-8{
    padding-right: 0%;
    padding-left: 0%;
}
.col-2{
    padding-right: 0%;
    
    padding-left: 0%;
}
.holas {
    background: linear-gradient(to right, #ffdde1, #ff20f8);
    width: 100%;
    height: 610px;
    padding-left: 0%;
    padding-right: 0%;
}

.holas img{
    width: 180px;
    height: 110px;
}

.fondos img{
    height: 610px;
    width: 100%;
}
.lll{
    height: 200px;
    width: 100%;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.icons img{
    width: 30px;
    height: 30px;
}

.que{
    padding-top: 50px;
}

.holacho{
    height: 660px;
    width: 100%;
}
